@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.arcade {
    background-image: url("arcade.jpeg");
}
.center-block {
    height: 200px;
    width: 290px;
    border-style: solid;
    background-color: grey;
    border-color:black;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -130px;
}
.DoorButton{
    display: none;
    position: fixed;
    height: 90%;
    width: 80%;
    top: 8%;
    left: 13%;
}
.PCButton{
    position: fixed;
    cursor: pointer;
    height: 10%;
    width: 13%;
    top: 53%;
    left: 55%;
}

.left-center-block {
    position: fixed;
    top: 50%;
    margin-top: -100px;
    cursor: pointer;
}

.left-center-dialog {
    position: fixed;
    top: 30%;
    left: 35%;
    margin-top: -100px;
    cursor: pointer;
}

.left-center-textbox {
    position: absolute;
    z-index: 1; /* Sit on top */
    top: 40%;
    left: 40%;
    margin-top: -100px;
    font-size: 20pt;
    cursor: pointer;
}

.right-center-block {
    position: fixed;
    top: 50%;
    left:100%;
    cursor: pointer;
    margin-left: -50px;
    margin-top: -100px;
}

.right-next-button {
    position: fixed;
    top: 50%;
    left:50%;
    cursor: pointer;
    margin-left: -50px;
    margin-top: -100px;
}

.box-block{
    position:fixed;
    cursor:pointer;
    height:10%;
    width:13%;
    top:52%;
    left:13%;
}

.right-bottom-block {
    position: fixed;
    top: 100%;
    left:100%;
    cursor: pointer;
    margin-left: -90px;
    margin-top: -100px;
}

.left-bottom-block{
    position: fixed;
    top: 100%;
    cursor: pointer;
    margin-top: -100px;
}

.left-bottom-npc {
    position: fixed;
    top: 70%;
    left: 15%;
    margin-top: -100px;
    cursor: pointer;
}

.right-top-block {
    position: fixed;
    left:100%;
    cursor: pointer;
    margin-left: -90px;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    left:33%;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.testbutton {
  position: absolute;
  left: 200px;
  top: 150px;
}

.inv-button-computer {
    background-color: #4caf4f00;
    border: none;
    color: white;
    position: fixed;
    top: 60%;
    left: 53%;
    width: 100px ; 
    height: 100px; 
    margin-top: -100px;
    cursor: pointer;
}

.inv-button-door {
    background-color: #4caf4f00;
    border: none;
    color: white;
    position: fixed;
    top: 40%;
    left: 77%;
    width: 230px ; 
    height: 400px; 
    margin-top: -100px;
    cursor: pointer;
}

.inv-button-unlock {
    background-color: #4caf4f00;
    border: none;
    color: white;
    position: fixed;
    top: 62%;
    left: 45%;
    width: 400px; 
    height: 100px; 
    margin-top: -100px;
    cursor: pointer;
}

body{
    background: url(image3.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay{
    display: inline; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
.popModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popModalContent{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modalContentEgg{
    background-color:black;
    margin:auto;
    padding:5px;
    border:1px solid #888;
    width:100%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}